includes:
	- phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src/
    bootstrapFiles:
        - vendor/autoload.php
    ignoreErrors:
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
            reportUnmatched: false
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::getChildNodeDefinitions\(\)#'
            reportUnmatched: false
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::scalarNode\(\)#'
            reportUnmatched: false
        -
            message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::arrayNode\(\)#'
            reportUnmatched: false
        - '#Call to an undefined method .*DOMNode.*::setAttribute\(\)#'